{% extends 'portal/index_layout.html' %}
{% load static %}


{% block nav %}

<nav class="navbar navbar-expand-lg nav-top">
    <div class="container-fluid">
        <button aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
                data-bs-target="#navbarScroll" data-bs-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                <li class="nav-item">
                    <a aria-current="page" class="nav-link active" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
            </ul>

        </div>
    </div>
</nav>
{% endblock %}

{% block body %}
<div class="container xl c-custom">
    {% if index %}
    <div class="container">
        <div class="info-cards">
            <div class="static-card">
                <div class="image-card">
                    <img alt="Personal" class="background-img" src="{% static 'portal/img/personal.jpg' %}">
                </div>
                <div class="text-card">
                    <ul>
                        <li>All medical records in your pocket.</li>
                        <li>Recognize any paper reports.</li>
                        <li>Give your doctor direct access to your records.</li>
                        <li>Health care network with real doctors</li>
                        <li>And more......</li>
                    </ul>
                </div>
                <div class="button-card">
                    <button class="btn btn-outline-info">Get Started</button>
                </div>
            </div>
            <div class="static-card">
                <div class="image-card">
                    <img alt="Personal" class="background-img" src="{% static 'portal/img/business.jpg' %}">
                </div>
                <div class="text-card">
                    <ul>
                        <li><span class="fa-li"><i class="fas fa-spinner fa-pulse"></i></span>Get apoinments from patients directly</li>
                        <li>Access to all your patient records</li>
                        <li>Face recognize patient in emergency situations</li>
                        <li>Improve your services. Work with patients feedback's</li>
                        <li>And more......</li>
                    </ul>
                </div>
                <div class="button-card">
                    <button class="btn btn-outline-primary">Get Started</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End first container-->
    <br/>
    <hr/>
<div class="container">

    <div class="main-info">
        <section id="what-we-do">
            <div class="container-fluid">
                <h2 class="section-title mb-2 h1">What is it?</h2>
                <p class="text-center text-muted h5">
                    An electronic medical record is an alternative to the existing paper record
                    You will receive information about your health, diagnostics, treatment in polyclinics, prescriptions
                    and other data. View them anytime anywhere!</p>
                <div class="row mt-5">
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                        <div class="card">
                            <div class="card-block block-1">
                                <h3 class="card-title">Special title</h3>
                                <p class="card-text">With supporting text below as a natural lead-in to additional
                                    content.</p>
                                <a class="read-more" href="https://www.fiverr.com/share/qb8D02" title="Read more">Read
                                    more<i class="fa fa-angle-double-right ml-2"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                        <div class="card">
                            <div class="card-block block-2">
                                <h3 class="card-title">Special title</h3>
                                <p class="card-text">With supporting text below as a natural lead-in to additional
                                    content.</p>
                                <a class="read-more" href="https://www.fiverr.com/share/qb8D02" title="Read more">Read
                                    more<i class="fa fa-angle-double-right ml-2"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                        <div class="card">
                            <div class="card-block block-3">
                                <h3 class="card-title">Special title</h3>
                                <p class="card-text">With supporting text below as a natural lead-in to additional
                                    content.</p>
                                <a class="read-more" href="https://www.fiverr.com/share/qb8D02" title="Read more">Read
                                    more<i class="fa fa-angle-double-right ml-2"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                        <div class="card">
                            <div class="card-block block-4">
                                <h3 class="card-title">Special title</h3>
                                <p class="card-text">With supporting text below as a natural lead-in to additional
                                    content.</p>
                                <a class="read-more" href="https://www.fiverr.com/share/qb8D02" title="Read more">Read
                                    more<i class="fa fa-angle-double-right ml-2"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                        <div class="card">
                            <div class="card-block block-5">
                                <h3 class="card-title">Special title</h3>
                                <p class="card-text">With supporting text below as a natural lead-in to additional
                                    content.</p>
                                <a class="read-more" href="https://www.fiverr.com/share/qb8D02" title="Read more">Read
                                    more<i class="fa fa-angle-double-right ml-2"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                        <div class="card">
                            <div class="card-block block-6">
                                <h3 class="card-title">Special title</h3>
                                <p class="card-text">With supporting text below as a natural lead-in to additional
                                    content.</p>
                                <a class="read-more" href="https://www.fiverr.com/share/qb8D02" title="Read more">Read
                                    more<i class="fa fa-angle-double-right ml-2"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    {% elif login %}
    {% if message %}
    <div>{{ message }}</div>
    {% endif %}

    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <input autofocus class="form-control" name="username" placeholder="Username" type="text">
        </div>
        <div class="form-group">
            <input class="form-control" name="password" placeholder="Password" type="password">
        </div>
        <input class="btn btn-primary" type="submit" value="Login">
    </form>

    Don't have an account? <a href="{% url 'register' %}">Register here.</a>

    login page
    {% else %}
    <h2>Register</h2>

    {% if message %}
    <div>{{ message }}</div>
    {% endif %}

    <form action="{% url 'register' %}" method="post">
        {% csrf_token %}
        <div class="form-group form-mdc">
            <input autofocus class="form-control" name="username" placeholder="Username" type="text">
        </div>
        <div class="form-group form-mdc">
            <input class="form-control" name="email" placeholder="Email Address" type="email">
        </div>
        <div class="form-group form-mdc">
            <label for="select_role">Select your role</label>
            <select class="form-control" id="select_role" name="role_name">
                <option value="user">Standart user</option>
                <option value="doctor">Doctor</option>
                <option value="another">Another</option>
            </select>
        </div>
        <div class="form-group form-mdc">
            <input class="form-control" name="password" placeholder="Password" type="password">
        </div>
        <div class="form-group form-mdc">
            <input class="form-control " name="confirmation" placeholder="Confirm Password" type="password">
        </div>
        <input class="btn btn-outline-info" type="submit" value="Register">
    </form>

    Already have an account? <a href="{% url 'login' %}">Log In here.</a> {% endif %}
    <br/>
    {{ messagedoc }}
</div>


{% endblock %}

