{% extends 'portal/portal_layout.html' %}
{% load static %}

{% block body %}
<div class="passport-page-container">

    <input accept=".jpg, .pdf, .gif, .jpeg" id="confirmation-file-input" style="display:none" type="file">
    <div class="passport-page-buttons static-card">
        <div class="passport-info upload-progress"><h6>You can upload new vaccination conformation or scan of existing covid-19 passport or vaccination certificate,
            to check and update your online passport information</h6></div>
    </div>
</div>
<script type="text/javascript" src="{% static 'portal/js/passport.js' %}"></script>
{% endblock %}