{% extends 'portal/portal_layout.html' %}
{% load static %}

{% block body %}
{% if error %}
<div class="error-template">
    <h1>Oops!</h1>
    <h2>404 Not Found</h2>
    <div class="error-details">
        Sorry, an error has occurred, Requested page not found!
    </div>
    <div class="error-actions">
        <a class="btn btn-warning btn-lg" href="{% url 'portal' %}">Take Me Home </a>
    </div>
</div>
{% endif %}
{% if dashboard and owner %}
<div class="body-portal">
    <div class="dash-top1">
        <div class="dash-header-main"><h6>Recognize old clinical tests and reports</h6></div>
        <div class="dash-container">
            <div class="dash-info">
                <img alt="card page icon" src="{% static 'portal/img/recognizer-page.png' %}">
                <span>You can scan and upload any of your old medical tests, results and our system recognize it and automatically add information to your medical card</span>
            </div>
            <div class="dash-button">
                <button class="btn btn-info"><a href="{% url 'portal' %}/recognizer/{{user.med_id}}">Open</a></button>
            </div>
        </div>
    </div>

    <div class="dash-top2">
        <div class="dash-header-main dash-header-special"><h6>My Covid-19 Vaccine Passport</h6></div>
        <div class="dash-container">
            <div class="dash-info vaccination-status">
            </div>
            <div class="dash-button">
                <button class="btn btn-info"><a href="{% url 'portal' %}/covidpass/{{user.med_id}}">Your Passport</a>
                </button>
            </div>
        </div>
    </div>

    <div class="dash-top3">
        <div class="dash-header-main"><h6>Check your Laboratory tests</h6></div>
        <div class="dash-container">
            <div class="dash-info">
                <img alt="card page icon" src="{% static 'portal/img/card-page.png' %}">
                <span>Check all your records in one place. Go to your electronic medial card</span>
            </div>
            <div class="dash-button">
                <button class="btn btn-info"><a href="{% url 'portal' %}/card/{{user.med_id}}">Open</a></button>
            </div>
        </div>
    </div>

    <div class="dash-top4">
        <div class="dash-header-main"><h6>Add your family information</h6></div>
        <div class="dash-container">
            <div class="dash-info">
                <img alt="card page icon" src="{% static 'portal/img/family-page.png' %}">
                <span>Add all your family members to your family list and give them access to your profile at Profile page</span>
            </div>
            <div class="dash-button">
                <button class="btn btn-info"><a href="{% url 'portal' %}/family/{{user.med_id}}">Open</a></button>
            </div>
        </div>
    </div>

    <div class="dash-footer">
        <div class="dash-header-main"><h6>Chronology list. Last 4 Events</h6></div>
        <div class="dash-footer-info">
            <div class="user-log"></div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}

