{% extends 'portal/portal_layout.html' %}
{% load static %}


{% block body %}
{{ request.user.med_id| json_script:'user-med-id' }}

{% if error %}
<div class="error-template">
    <h1>Oops!</h1>
    <h2>404 Not Found</h2>
    <div class="error-details">
        Sorry, an error has occured, Requested page not found!
    </div>
    <div class="error-actions">
        <a class="btn btn-outline-warning btn-lg" href="{% url 'portal' %}">Take Me Home </a>
    </div>
</div>
{% endif %}
{% if dashboard and owner %}
<div class="body-portal">

    <div class="scope-info">
        <div class="header-edit">
            <h5>User information</h5>
            <button class="btn btn-outline-info" type="button">
                <svg class="bi bi-clipboard-plus" fill="currentColor" height="16" viewBox="0 0 16 16"
                     width="16" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8 7a.5.5 0 0 1 .5.5V9H10a.5.5 0 0 1 0 1H8.5v1.5a.5.5 0 0 1-1 0V10H6a.5.5 0 0 1 0-1h1.5V7.5A.5.5 0 0 1 8 7z"
                          fill-rule="evenodd"/>
                    <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/>
                    <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"/>
                </svg>
            </button>
        </div>

        <ul class="list-inline ratings text-center" title="Ratings">

            <li>First Name:</li>
            <hr/>
            <li>Last Name:</li>
            <hr/>
            <li>Birth Date:</li>
            <hr/>
            <li>Gender:</li>
            <hr/>
            <li>Email:</li>
            <hr/>
            <li>Mobile phone:</li>
            <hr/>
            <li>Emergency Contact</li>
            <hr/>
            <li>Contact type:</li>
        </ul>


    </div>

    <div class="dash-top1">
        <canvas class="weight-chart" id="weight-chart1"></canvas>

    </div>

    <div class="dash-top2">
        <canvas class="weight-chart" id="weight-chart2"></canvas>

    </div>

    <div class="dash-footer">

    </div>
</div>

{% elif family %}
<div class="family-container">
    <div class="family-header">
        <h3>My Family members</h3>
    </div>
    <div class="family-members">
        {% for member in my_family %}
        <div class="family-member-container">
            <div class="main-info">
                <div class="family-member-avatar">
                    <img alt="avatar" src="{{ member.avatar_url }}">
                </div>
                <div class="about">
                    <div class="name">Name: {{ member.first_name }}</div>
                    <div class="role">Role: {{ member.user_role }}</div>
                    <div class="status">
                        <svg class="bi bi-brightness-alt-low-fill" fill="#5cb85c" height="16" viewBox="0 0 16 16"
                             width="16" xmlns="http://www.w3.org/2000/svg">
                            <path d="M8.5 5.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zm5 6a.5.5 0 1 1 0-1 .5.5 0 0 1 0 1zM2 11a.5.5 0 1 0 1 0 .5.5 0 0 0-1 0zm10.243-3.536a.5.5 0 1 1-.707-.707.5.5 0 0 1 .707.707zm-8.486-.707a.5.5 0 1 0 .707.707.5.5 0 0 0-.707-.707zM8 7a4 4 0 0 0-4 4 .5.5 0 0 0 .5.5h7a.5.5 0 0 0 .5-.5 4 4 0 0 0-4-4z"/>
                        </svg>
                        Online
                    </div>
                </div>
            </div>

            <div class="family-member-info">
                <span>Gender: {{ member.gender }}</span>
            </div>
            <div class="family-member-info">
                <span>Birth: {{ member.birth_date }}</span>
            </div>

            <div class="id-box">
                <h6><strong>Medical record ID</strong></h6>
                <div class="id-number">
                    {{ member.med_id }}
                </div>
            </div>

            <div class="add-remove-btns">
                <a href="{% url 'portal' %}/profile/{{ member.med_id }}">
                    <button class="btn btn-outline-info remove-member">Profile</button>
                </a>
                <button class="btn btn-outline-warning remove-member" value="{{ member.id }}">Remove</button>
            </div>

        </div>
        {% endfor %}

        <!--            Add new family member               -->
        <div class="family-member-container">
            <div class="add-member">
                <h6>Add your family member</h6>
                <div class="input-div">
                    <input class="form-search-member" id="member-id" name="patient_id" placeholder="Enter Member ID"
                           type="text">
                </div>
                <div class="search-result" id="search-result">
                    <!--                            result output                      -->
                </div>
                <div class="search-btn">
                    <button class="btn btn-outline-info search-member-btn" type="button">Search Family
                        member
                    </button>
                    <button class="btn btn-outline-primary add-member-btn" type="button">Add Family member
                    </button>
                </div>
            </div>
        </div>
        <!--            Add new family member               -->
    </div>
</div>

{% elif recognizer and owner %}

<div class="cards-container">
    <h3>Recognize paper medical cards and add to your medical cards</h3>
    <div class="documents-container">
        <div class="recognized">
            <div class="recognized-header">
                <h4>Files to recognized</h4>
            </div>
            <div class="recognized-images">

            </div>
        </div>
        <div class="uploaded">
            <div class="header-upload">
                <h4>Upload files</h4>
                <div class="progress-bar"></div>


            </div>
            <div class="already-uploaded">

            </div>
            <div class="upload">

                <input id="file-input" name="upload" type="file">
            </div>
        </div>
    </div>


</div>
{% elif profile %}


<div class="profile-container">
    <div class="container">
        <div class="row flex-lg-nowrap">
            <div class="col">
                <div class="row">
                    <div class="col mb-3">
                        <div class="card">
                            <div class="card-body">
                                <div class="e-profile">
                                    <div class="row">
                                        <div class="col-12 col-sm-auto mb-3">
                                            <div class="mx-auto" style="width: 140px;">
                                                <div class="d-flex justify-content-center align-items-center rounded">
                                                    <img alt="avatar"
                                                         height="140px" src="{{ user.avatar_url }}"
                                                         width="140px">
                                                </div>


                                            </div>
                                        </div>


                                        <div class="col d-flex flex-column flex-sm-row justify-content-between mb-3"
                                             id="profile">
                                            <div class="text-center text-sm-left mb-2 mb-sm-0">
                                                <h4 class="pt-sm-2 pb-1 mb-0 text-nowrap">{{user.name}}</h4>
                                                <p class="mb-0">Gender: {{ user.gender }} </p>
                                                <p class="mb-0">Birth: {{ user.birth_date }}</p>
                                                <span>ID: </span><span class="mb-0 med_id">{{ user.med_id }}</span>
                                                <div class="text-muted"><small>Last seen 2 hours ago</small></div>
                                                <div class="mt-2">

                                                    <input accept=".jpg, .png, .gif" id="avatar-upload"
                                                           id="upload-avatar"
                                                           multiple="false" type="file">
                                                    <button class="btn btn-outline-info" id="avatar-upload-button">
                                                        <i class="fa fa-fw fa-camera"></i> Change avatar
                                                    </button>


                                                </div>
                                            </div>
                                            <div class="text-center text-sm-right">
                                                <p>Role: {{user.user_role}}</p>
                                                <div class="text-muted"><small>Joined: {{ user.date_joined}}</small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="tab-content pt-3">
                                        <div class="tab-pane active">
                                            <!--                          Start form                      -->
                                            <div class="form">
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="row">
                                                            <div class="col">
                                                                <div class="form-group">
                                                                    <label>Full Name</label>
                                                                    <input class="form-control input-p" id="full-name"
                                                                           placeholder="John Smith"
                                                                           type="text" v-model="name"
                                                                           value="{{ user.full_name}}">
                                                                </div>
                                                            </div>
                                                            <div class="col">
                                                                <div class="form-group">
                                                                    <label>Username</label>
                                                                    <input class="form-control" disabled
                                                                           type="text"
                                                                           value="{{ user.username}}">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col mb-3">
                                                        <div class="form-group">
                                                            <label>Short info</label>
                                                            <textarea class="form-control input-p" id="bio"
                                                                      maxlength="500"
                                                                      placeholder="My Bio"
                                                                      rows="5">{{ user.bio }}</textarea>
                                                        </div>
                                                    </div>
                                                </div>


                                                <div class="row">
                                                    <div class="col-12 col-sm-6 mb-3">

                                                        <div class="row">
                                                            <div class="col">
                                                                <div class="form-group">
                                                                    <label for="gender">Gender</label>
                                                                    <select class="form-control input-p"
                                                                            id="gender"
                                                                            selected="{{ user.gender }}">

                                                                        <option value="male">Male</option>
                                                                        <option value="female">Female</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="row">
                                                            <div class="col">
                                                                <div class="form-group">
                                                                    <label for="birthday">Birthday</label>
                                                                    <div class="col-10">
                                                                        <input class="form-control input-p"
                                                                               id="birthday"
                                                                               type="date"
                                                                               value="{{ user.birth_date}}">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <hr/>

                                                        <div class="row">
                                                            <div class="col">
                                                                <div class="form-group">
                                                                    <label>Home Address</label>
                                                                    <input class="form-control input-p"
                                                                           id="home-address"
                                                                           placeholder="Home Address"
                                                                           type="text"
                                                                           value="{{user.home_address}}">
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="row">
                                                            <div class="col">
                                                                <div class="form-group">
                                                                    <label>Job place</label>
                                                                    <input class="form-control input-p" id="job"
                                                                           placeholder="Job place"
                                                                           type="text" value="{{user.job}}">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <hr/>

                                                        <div class="row">
                                                            <div class="col">
                                                                <div class="form-group">
                                                                    <label>Email</label>
                                                                    <input class="form-control input-p" id="email"
                                                                           placeholder="user@example.com"
                                                                           type="email" value="{{user.email}}">
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="row">
                                                            <div class="col">
                                                                <div class="form-group">
                                                                    <label>Contact phone</label>
                                                                    <input class="form-control input-p"
                                                                           id="phone_number"
                                                                           max="13"
                                                                           min="8" placeholder="Phone number"
                                                                           type="number"
                                                                           value="{{user.phone_number}}">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col">
                                                                <div class="form-group">
                                                                    <label>Emergency Phone</label>
                                                                    <input class="form-control input-p"
                                                                           id="emergency_number"
                                                                           max="13"
                                                                           min="8" placeholder="Emergency Phone"
                                                                           type="number"
                                                                           value="{{user.emergency_number}}">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <hr/>

                                                    </div>
                                                    <div class="col-12 col-sm-5 offset-sm-1 mb-3">

                                                        <div class="row">
                                                            <div class="col">
                                                                <div class="form-group">
                                                                    <label for="role-select">Your Role</label>
                                                                    <select class="form-control" disabled
                                                                            id="role-select">
                                                                        <option value="user">User</option>
                                                                        <option value="doctor">Doctor</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <hr/>

                                                        <div class="mb-2"><b>Emergency contacts methods</b></div>
                                                        <div class="row">
                                                            <div class="col">
                                                                <div class="custom-controls-stacked px-2">

                                                                    <div class="custom-control custom-checkbox">
                                                                        <input
                                                                                class="custom-control-input input-p"
                                                                                id="notifications"
                                                                                type="checkbox">
                                                                        <label class="custom-control-label"
                                                                               for="notifications">Any</label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col d-flex justify-content-end">
                                                        <div id="buttons-save-edit">

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--                        Right sidebar                               -->
                    <div class="col-12 col-md-3 mb-3">
                        <div class="card">
                            <div class="card-body">
                                <h6 class="card-title font-weight-bold">Allergens list</h6>
                                <p class="card-text">
                                    {% if allrergen %}
                                <h5>Not have allergy</h5>
                                {% endif %}

                                <ul id="user-allergen-list">
                                </ul>

                                <div class="select-allergens">
                                    <label for="allergens">Choose yor allergen</label>
                                <select class="allergens" id="allergens">
                                    <optgroup label="Allrgens">
                                        <option>Select</option>
                                </select>
                                </p>
                                <input class="custom-allergen" placeholder="input your allergen" type="text">
                                </div>

                                <div class="add-allergen-button">
                                </div>
                            </div>
                        </div>
                        <br/>

                        <div class="access-list-div">
                                                    <!--            Add new member to access list               -->

                             <div class="card">
                            <div class="card-body">
                                <h6 class="card-title font-weight-bold">Access list</h6>
                                <ul class="access-list"></ul>
                                <p class="card-text">
                                <ul id="user-access-list">
                                </ul>
                                <label for="allergens">Add Med id to your access list</label>
                                </p>
                                <div class="input-div">
                                    <input class="form-control" id="access-member-search" name="id"
                                           placeholder="Enter Member ID"
                                           type="text">
                                </div>
                                <div class="search-result" id="access-search-result">
                                    <!--                            result output                      -->
                                </div>
                                <div class="search-access-btn">

                                </div>
                            </div>
                        </div>
                        <!--            Add new member to access list               -->
                        </div>


                        <br/>
                        <div class="card">
                            <div class="card-body">
                                <h6 class="card-title font-weight-bold">Support</h6>
                                <p class="card-text">Get fast, free help from our friendly assistants.</p>
                                <button class="btn btn-outline-info" type="button">Contact Us</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


{% endif %}


</div>
{% endblock %}

