{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link href="{% static 'portal/css/styles.css' %}" rel="stylesheet">
    <link href="{% static 'portal/manifest.json' %}" rel="manifest">
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.2.10/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.2.10/firebase-storage.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.2.10/firebase-firestore.js"></script>

    <title>{{ title }}</title>

</head>

<body>

<nav class="navbar navbar-expand-lg top-bar">
    <div class="container-fluid">
        <a class="navbar-brand  brand" href="{% url 'index' %}"><img alt="logo" height="40px"
                                                                     src="{% static 'portal/img/logo.png'%}">MediCard</a>
        <button aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
                data-bs-target="#navbarText" data-bs-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a aria-current="page" class="nav-link active" href="{% url 'index' %}">Home</a>
                </li>

                {% if user.is_authenticated and user.is_superuser %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'admin_panel' %}">Admin Panel</a>
                </li>
                {% endif %}

                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'portal' %}">MediCard User Portal</a>
                </li>
                {% endif %}

            </ul>
            <div class="search-bar">
                <form class="d-flex">
                    <input aria-label="Search" class="form-control me-2" placeholder="Search" type="search">
                    <button class="btn s-button" type="submit">
                        <svg class="bi bi-search" fill="currentColor" height="16" viewBox="0 0 16 16"
                             width="16" xmlns="http://www.w3.org/2000/svg">
                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                        </svg>
                    </button>
                </form>

            </div>

            <span class="navbar-text login">
                {% if user.is_authenticated  %}
              Login as "{{ request.user.username }}"
                {% else %}
                 Not login yet
                {% endif %}
      </span>
            {% if user.is_authenticated %}
            <a class="login" href="{% url 'logout' %}">Logout</a>
            {% else %}
            <a class="login" href="{% url 'login' %}">Login</a>
            {% endif %}
        </div>
    </div>
</nav>
<!-- Left menu-->

<div class="container-portal" id="">
    <!--    Get user id to app.js   -->
    <div class="menu-portal">
        <div class="title-menu"><h3 class="title-menu-text">Menu</h3></div>
        <hr/>
        <div class="user-info">
            <div class="avatar" data-link="{{ user.avatar_url }}">
                <img alt="avatar" src="{{ user.avatar_url }}">
            </div>
            <div class="about">
                <div class="name">Username: {{ user.username}}</div>
                <div class="role">Role: {{ user.user_role }}</div>
                <div class="status">
                    <svg class="bi bi-brightness-alt-low-fill" fill="#5cb85c" height="16" viewBox="0 0 16 16"
                         width="16" xmlns="http://www.w3.org/2000/svg">
                        <path d="M8.5 5.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zm5 6a.5.5 0 1 1 0-1 .5.5 0 0 1 0 1zM2 11a.5.5 0 1 0 1 0 .5.5 0 0 0-1 0zm10.243-3.536a.5.5 0 1 1-.707-.707.5.5 0 0 1 .707.707zm-8.486-.707a.5.5 0 1 0 .707.707.5.5 0 0 0-.707-.707zM8 7a4 4 0 0 0-4 4 .5.5 0 0 0 .5.5h7a.5.5 0 0 0 .5-.5 4 4 0 0 0-4-4z"/>
                    </svg>
                    Online
                </div>

            </div>
        </div>
        <hr/>
        <div class="title-general"><h3 class="title-general-text">General</h3></div>
        <ul class="ul-menu">
            <a href="{% url 'portal' %}/dashboard/{{request.user.med_id}}">
                <li class="menu-link">
                    <div class="background-ico">
                        <svg class="bi bi-house" fill="currentColor" height="16" viewBox="0 0 16 16"
                             width="16" xmlns="http://www.w3.org/2000/svg">
                            <path d="M2 13.5V7h1v6.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V7h1v6.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5zm11-11V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"
                                  fill-rule="evenodd"/>
                            <path d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"
                                  fill-rule="evenodd"/>
                        </svg>
                    </div>
                    <span class="link-desc">Homepage</span>
                </li>
            </a>
            {% if owner %}
            <a href="{% url 'portal' %}/dashboard/{{user.med_id}}">
                <li class="menu-link">
                    <div class="background-ico">
                        <svg class="bi bi-clipboard-data" fill="currentColor" height="16" viewBox="0 0 16 16"
                             width="16" xmlns="http://www.w3.org/2000/svg">
                            <path d="M4 11a1 1 0 1 1 2 0v1a1 1 0 1 1-2 0v-1zm6-4a1 1 0 1 1 2 0v5a1 1 0 1 1-2 0V7zM7 9a1 1 0 0 1 2 0v3a1 1 0 1 1-2 0V9z"/>
                            <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/>
                            <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"/>
                        </svg>
                    </div>
                    <span class="link-desc">Dashboard</span>
                </li>
            </a>
            {% endif %}

            <a href="{% url 'portal' %}/covidpass/{{user.med_id}}">
                <li class="menu-link">
                    <div class="background-ico">
                        <svg class="bi bi-shield-shaded" fill="currentColor" height="16" viewBox="0 0 16 16"
                             width="16" xmlns="http://www.w3.org/2000/svg">
                            <path d="M8 14.933a.615.615 0 0 0 .1-.025c.076-.023.174-.061.294-.118.24-.113.547-.29.893-.533a10.726 10.726 0 0 0 2.287-2.233c1.527-1.997 2.807-5.031 2.253-9.188a.48.48 0 0 0-.328-.39c-.651-.213-1.75-.56-2.837-.855C9.552 1.29 8.531 1.067 8 1.067v13.866zM5.072.56C6.157.265 7.31 0 8 0s1.843.265 2.928.56c1.11.3 2.229.655 2.887.87a1.54 1.54 0 0 1 1.044 1.262c.596 4.477-.787 7.795-2.465 9.99a11.775 11.775 0 0 1-2.517 2.453 7.159 7.159 0 0 1-1.048.625c-.28.132-.581.24-.829.24s-.548-.108-.829-.24a7.158 7.158 0 0 1-1.048-.625 11.777 11.777 0 0 1-2.517-2.453C1.928 10.487.545 7.169 1.141 2.692A1.54 1.54 0 0 1 2.185 1.43 62.456 62.456 0 0 1 5.072.56z"
                                  fill-rule="evenodd"/>
                        </svg>
                    </div>
                    <span class="link-desc">Covid-19 Passport</span>
                </li>
            </a>


            <a href="{% url 'portal' %}/family/{{user.med_id}}">
                <li class="menu-link">
                    <div class="background-ico">
                        <svg class="bi bi-people" fill="currentColor" height="16" viewBox="0 0 16 16"
                             width="16" xmlns="http://www.w3.org/2000/svg">
                            <path d="M15 14s1 0 1-1-1-4-5-4-5 3-5 4 1 1 1 1h8zm-7.978-1A.261.261 0 0 1 7 12.996c.001-.264.167-1.03.76-1.72C8.312 10.629 9.282 10 11 10c1.717 0 2.687.63 3.24 1.276.593.69.758 1.457.76 1.72l-.008.002a.274.274 0 0 1-.014.002H7.022zM11 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0zM6.936 9.28a5.88 5.88 0 0 0-1.23-.247A7.35 7.35 0 0 0 5 9c-4 0-5 3-5 4 0 .667.333 1 1 1h4.216A2.238 2.238 0 0 1 5 13c0-1.01.377-2.042 1.09-2.904.243-.294.526-.569.846-.816zM4.92 10A5.493 5.493 0 0 0 4 13H1c0-.26.164-1.03.76-1.724.545-.636 1.492-1.256 3.16-1.275zM1.5 5.5a3 3 0 1 1 6 0 3 3 0 0 1-6 0zm3-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4z"/>
                        </svg>
                    </div>
                    <span class="link-desc">My Family</span>
                </li>
            </a>


            {% if owner %}
            <a href="{% url 'portal' %}/recognizer/{{user.med_id}}">
                <li class="menu-link">
                    <div class="background-ico">
                        <svg class="bi bi-book" fill="currentColor" height="16" viewBox="0 0 16 16"
                             width="16" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 2.828c.885-.37 2.154-.769 3.388-.893 1.33-.134 2.458.063 3.112.752v9.746c-.935-.53-2.12-.603-3.213-.493-1.18.12-2.37.461-3.287.811V2.828zm7.5-.141c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492V2.687zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z"/>
                        </svg>

                    </div>
                    <span class="link-desc">Recognizer</span>
                </li>
            </a>
            {% endif %}


            <a href="{% url 'portal' %}/card/{{user.med_id}}">
                <li class="menu-link">
                    <div class="background-ico">
                        <svg class="bi bi-card-heading" fill="currentColor" height="16" viewBox="0 0 16 16"
                             width="16" xmlns="http://www.w3.org/2000/svg">
                            <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"/>
                            <path d="M3 8.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5zm0-5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5v-1z"/>
                        </svg>
                    </div>
                    <span class="link-desc">Medical Card</span>
                </li>
            </a>

            <a href="{% url 'portal' %}/profile/{{user.med_id}}">
                <li class="menu-link">
                    <div class="background-ico">
                        <svg class="bi bi-person" fill="currentColor" height="16" viewBox="0 0 16 16"
                             width="16" xmlns="http://www.w3.org/2000/svg">
                            <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                        </svg>
                    </div>
                    <span class="link-desc">User Profile</span>
                </li>
            </a>

        </ul>
        <div class="id-box">
            <h6><strong>User medical record ID</strong></h6>
            <div class="id-number">
                {{ user.med_id }}
            </div>

        </div>
    </div>
    <!--    Left menu end    -->


    {% block body %}
    {% endblock %}


</div>
<div class="footer">
    <div class="go-top">
        <a class="top">Top</a>
    </div>
    <div class="footer-med">
        <h6 class="footer-text">© 2021, Medicard.global , Inc. or its affiliates</h6>
    </div>
</div>

<!--For images previews -->
<div class="modal-preview">
    some text
</div>
<!--For images previews -->


{{ request.user.med_id| json_script:'user-med-id' }}
<script defer src="{% static 'portal/js/app.js' %}"></script>
<script defer src="{% static 'portal/js/validator.js' %}"></script>


</body>
</html>