
{% extends 'portal/portal_layout.html' %}

{% block body %}

{% if recognizer and owner %}
<div class="cards-container text-center">
    <h5>Recognize paper medical cards and add to your medical cards</h5>
    <div class="documents-container">
        <div class="recognized">
            <div class="recognized-header">
                <h4>Files to recognized</h4>
            </div>
            <div class="recognized-images">
            </div>
        </div>
        <div class="uploaded">
            <div class="header-upload">
                <h4>Upload files</h4>
                <div class="progress-bar"></div>
            </div>
            <div class="already-uploaded"></div>
            <div class="upload">
                <input id="file-input" name="upload" type="file">
            </div>
        </div>
    </div>
</div>
{% endif %}

{% endblock %}