@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}


/*Animations*/
/*Fade in*/
@-webkit-keyframes visability {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes visability {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes visability {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes visability {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
/*Animations*/


/*Modal image preview*/
.modal-preview {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
    animation: 1s visability;
}

.modal-preview-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-preview-image img{
    height: 100vh;
    width: auto;
}
/*Modal image preview*/


/*Styles for print page*/
@media print {

}

/*Global*/
.active {
    background-color: #24ad9c75;
}

.custom-input {
    border: 1px solid #fb6f0cd1;
    padding: 0.5rem;
    width: 100%;
    margin: 0px 10px 10px 0px;
    border-radius: 5px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
}


.custom-input:focus {
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    border: 1px solid rgba(81, 203, 238, 1);

}

.label {
    background-color: rgb(161 178 178) !important;
    text-align: center;
    color: white;
    border: none;
    border-radius: 0px;
    font-size: 16px;
}

input:disabled {
    background: rgb(255, 255, 255);
}

.row-main {
    display: flex;
    justify-content: space-between;
}

.column-quater {
    width: 25%;
    margin-right: 20px
}

.column-half {
    width: 50%;
}

.center {
    text-align: center;
    justify-content: center;
    align-items: center;
}

.right {
    float: right;
}

/*use for page titles*/
.text-center h1 h2 h3 h4 h5 h6 {
    margin-top: 10px !important;
    margin-left: 15px !important;
    text-align: center !important;
}


/*Error page*/
.error-template {
    padding: 40px 15px;
    text-align: center;
}

.error-actions {
    margin-top: 15px;
    margin-bottom: 15px;
}

.error-actions .btn {
    margin-right: 10px;
}


/* Topbar Styles */
.top-bar {
    display: flex;
    width: 100%;
    height: 70px !important;
    background-color: #24ad9c;
    justify-content: space-around;
    color: #fff;
}

.top-bar a {
    color: #fff;
    transition: 0.4s;

}

.top-bar a:hover {
    color: #fb6f0cd1;
}

.search-bar {
    padding: 0;
    margin: 0;
}

.s-button {
    color: #fb6f0cd1 !important;
    border-color: #fb6f0cd1 !important;
    transition: 0.8s;
}

.s-button:hover {
    color: #0dcaf0 !important;
    border-color: #0dcaf0 !important;
}

.welcome-text {
    justify-content: center;
    text-align: center;
    color: #fff;
    text-decoration: none;
    padding-top: 10px;
}

.login {
    margin-left: 10px;
}


/*Navbar*/

.nav-top {

    width: 100%;
    height: 40px !important;
    background-color: #d0fff2d1;
}

.nav-top a {
    color: #000 !important;
    transition: 0.4s;
}

.nav-top a:hover {
    border: 1px solid #0dcaf0;
    border-radius: 3px;
    padding: 5px;
}

/*Body styles*/
.custom-collapse-colors{
    background-color: #24ad9c;
    padding: 5px;
    border-radius: 5px;
    opacity: 0.96;

}

.navbar-toggler{
    border: 1px solid black !important;
}

body {
    background-color: gainsboro;
}

.container-ovf {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #0dcaf0;

}

/*Index page styles*/
.info-cards {
    margin-top: 50px;
    margin-left:10px;
    margin-right:10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.static-card {
    border-radius: 15px;
    background-color: rgba(13, 202, 240, 0.05);
    -webkit-box-shadow: 0px 0px 20px 1px rgba(156, 232, 229, 1);
    -moz-box-shadow: 0px 0px 20px 1px rgba(156, 232, 229, 1);
    box-shadow: 0px 0px 20px 1px rgba(156, 232, 229, 1);
    animation: 2s visability;

}


.image-card > img {
    width: 550px;
    height: 250px;
    object-fit: fill;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.text-card {
    margin: 10px;
    padding: 15px;
}


@media screen and (max-width: 992px) {
    .text-card > ul:only-child {
        font-size: 14px;
    }

    .button-card {
        display: flex;
        justify-content: center;
    }
}

.button-card {
    margin: 0px 0px 15px 35px;
}

.text-card ul {
    list-style: none;
}

.text-card ul li::before {
    line-height: 1;
    content: "\2022"; /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: #69fff3; /* Change the color */
    font-weight: bold; /* If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1em; /* Also needed for space (tweak if needed) */
    margin-left: -1em; /* Also needed for space (tweak if needed) */
}

/**/
.container-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "left center right";

}

.col-l {
    height: 50vh;
    grid-area: left;

    background-color: gainsboro;
    overflow: hidden;
    border: 1px solid #0dcaf0;
}

.col-c {
    height: 50vh;

    grid-area: center;
    background-color: aliceblue;
    overflow: hidden;
    border: 1px solid #0dcaf0;

}

.col-r {
    height: 50vh;
    grid-area: right;
    background-color: aliceblue;
    overflow: hidden;
    border: 1px solid #0dcaf0;

}

.c-custom {
    max-width: 1520px !important;
}

/**********************
/***** Services *******
/*********************/
section {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    color: #24ad9c;
    margin-bottom: 50px;
    text-transform: uppercase;
}

#what-we-do {
    background: #ffffff;
}

#what-we-do .card {
    padding: 1rem !important;
    border: none;
    margin-bottom: 1rem;
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    transition: .5s all ease;
}

#what-we-do .card:hover {
    -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}

#what-we-do .card .card-block {
    padding-left: 50px;
    position: relative;
}

#what-we-do .card .card-block a {
    color: #24ad9c !important;
    font-weight: 700;
    text-decoration: none;
}

#what-we-do .card .card-block a i {
    display: none;

}

#what-we-do .card:hover .card-block a i {
    display: inline-block;
    font-weight: 700;

}

#what-we-do .card .card-block:before {
    font-family: FontAwesome;
    position: absolute;
    font-size: 39px;
    color: #fb6f0cd1;
    left: 0;
    -webkit-transition: -webkit-transform .2s ease-in-out;
    transition: transform .2s ease-in-out;
}

#what-we-do .card .block-1:before {
    content: "\f0e7";
}

#what-we-do .card .block-2:before {
    content: "\f0eb";
}

#what-we-do .card .block-3:before {
    content: "\f00c";
}

#what-we-do .card .block-4:before {
    content: "\f209";
}

#what-we-do .card .block-5:before {
    content: "\f0a1";
}

#what-we-do .card .block-6:before {
    content: "\f218";
}

#what-we-do .card:hover .card-block:before {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    transition: .5s all ease;
}

/*Go top*/

.go-top {
    width: 100%;
    height: 30px;
    background-color: #d0fff2d1;
    display: flex;
    justify-content: center;

}

.top {
    padding: 5px;
    color: #0dcaf0;
    cursor: pointer;
}

/*Footer*/

.footer-med {
    width: 100%;
    background-color: #24ad9c;
    color: #fff;
    display: flex;
    justify-content: center;

}

.footer-text {
    margin: 5px;
    font-size: 12px;
    justify-content: center;
    align-items: center;
    text-align: center;

}


/* Portal CSS Styles */

.container-portal {
    background-color: #e7ffff;
    display: grid;
    grid-template-columns: 250px auto;
    grid-template-areas: "menu body";

}

/* Menu Left*/
.menu-portal {
    grid-area: menu;
    background-color: #44a5af;
    border-right: 5px solid #fff;

}

.menu-portal > * {
    margin-left: 15px;

}

.title-menu {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.title-menu-text {
    color: #fff;
    margin-top: 10px;
}


.user-info {
    display: flex;

}

.avatar {
    height: 25%;
    width: 25%;

}

.avatar img {
    width: 60px;
    border-radius: 10px;

}

.about {
    margin-left: 15px;
    color: #fff;
    font-size: 14px;
}

.title-general {
    align-items: flex-start;
}

.title-general-text {
    color: #fff;
    font-size: 16px;
}

.dropdown-item > * {
    color: #fff;
}


.ul-menu {
    margin-left: 15px !important;
    padding: 0px;
}

.ul-menu a {
    text-decoration: none;

}


.menu-link {
    display: flex;
    grid-area: body;
    color: #fff;
    list-style-type: none;
    padding: 0px 0px 15px 0px;
}


.background-ico {
    margin-right: 10px;
    font-size: 12px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 4px;
    transition: 0.8s;
    border: 1px solid #fb6f0cd1;

}

.background-ico:hover {
    color: #0dcaf0;
    border: 1px solid #0dcaf0;
}

.link-desc {
    margin-top: 3px;
    transition: 0.8s;

}

.link-desc:hover {
    color: #0dcaf0;
    cursor: pointer;

}


.menu-link a {
    text-decoration: none;

}


.sidebar-footer {
    background: #44a5af;
    box-shadow: 0px -1px 5px #282c33;
    border-top: 1px solid #464a52;

    position: absolute;
    width: 100%;
    bottom: 0;
    display: flex;
}

.id-box {
    -webkit-box-shadow: 0px 2px 60px -6px rgba(0, 0, 0, 0.38);
    -moz-box-shadow: 0px 2px 60px -6px rgba(0, 0, 0, 0.38);
    box-shadow: 0px 2px 60px -6px rgba(0, 0, 0, 0.38);
    border-radius: 5px;
    margin: 10px;
    background-color: #e7ffff;
    align-items: flex-end;
    border: 1px solid #fb6f0cd1;
    transition: border 0.8s;
}

.id-box:hover {
    border: 1px solid #0dcaf0;
}

.id-box h6 {
    padding: 5px;
    color: #000;
    justify-content: center;
    text-align: center;
}

.id-number {
    color: #000;
    text-align: center;
    text-shadow: #0dcaf0;
    padding-bottom: 5px;
}


.body-portal {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    grid-template-areas: "dash-top1 dash-top2" "dash-top3 dash-top4" "dash-footer dash-footer";
    animation: 2s visability;
}

.body-portal > * {
    margin: 15px;
}

.header-edit {
    display: flex;
    justify-content: space-between;
}

.header-edit h5 {
    font-size: 18px;
    margin: 10px;
}

.header-edit button {
    margin-right: 5px;
}


.dash-top1 {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    grid-area: dash-top1;
    background-color: white;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.6);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.6);
}

.dash-top2 {
    border-radius: 5px;
    grid-area: dash-top2;
    background-color: white;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.6);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.6);

}

.dash-top3 {
    border-radius: 5px;
    grid-area: dash-top3;
    background-color: white;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.6);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.6);

}

.dash-top4 {
    border-radius: 5px;

    grid-area: dash-top4;
    background-color: white;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.6);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.6);
}

.dash-footer {
    border-radius: 5px;

    grid-area: dash-footer;
    background-color: white;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.6);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.6);
}

.dash-footer-info{
    padding: 15px;
}

.dash-header-main {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 35px;
    text-align: center;
    background-color: #6bc7bbba;
    padding: 10px;
}

.dash-header-special {
    background-color: #1b99b5d6;
}

.dash-container {
    overflow: hidden;
    margin: 10px;
    display: flex;
    justify-content: space-between;
}

.dash-info {
    display: flex;
    align-items: center;
    width: 80%;
    flex-wrap: wrap;
}

.dash-info > img {
    height: 150px;
    opacity: 0.5;
    width: auto;
}

.dash-info span {
    opacity: 0.8;
    padding-left: 15px;
    font-style: normal;
    font-size: 13px;
    max-width: 300px;
}

.passport-status{
    display: flex;
    flex-direction: column;
}

.dash-button {
    margin-left: 5px;
    justify-content: flex-end;
    width: 20%;
    display: flex;
    align-items: flex-end;

}

.log-string {
    display: flex;
    flex-wrap: wrap;
    background-color: whitesmoke;
    font-size: 12px;
    margin: 10px 10px 10px 10px;
    border: 1px solid #0dcaf0;
    padding: 5px;
    border-radius: 5px;
}


.log-event{
    margin-left: 15px;
}


/*Family page*/
.family-container {
    margin: 10px;
    animation: 2s visability;

}

.family-header {
    justify-content: center;

}

.family-members {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
}

.family-member-container {
    background-color: #44a5af;
    width: 250px;
    height: auto;
    postition: relative;
    border-radius: 5px;
    -webkit-box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.75);
    margin: 5px;
}

.main-info {
    display: flex;
}

.family-member-avatar {

    margin: 10px;
}

.about {
}

.family-member-avatar img {
    width: 50px;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
}

.family-member-info {
    color: #fff;
    margin: 5px;

}

.add-remove-btns {
    display: flex;
    justify-content: space-around;
}

.remove-member {
    margin: 5px;

}

.add-member {
    margin: 10px;

}

.add-member > * {
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #fff;

}


.search-btn {
    margin: 5px;
    align-items: center;
    justify-content: center;
}

.search-btn > * {
    margin-bottom: 5px;

}

/*Medical cards*/




.cards-container {
    background-color: #e7ffff;
    -webkit-box-shadow: inset 0px 0px 20px 1px rgba(156, 232, 229, 1);
    -moz-box-shadow: inset 0px 0px 20px 1px rgba(156, 232, 229, 1);
    box-shadow: inset 0px 0px 20px 1px rgba(156, 232, 229, 1);
}


.documents-container {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-areas: "recognized uploaded";
    animation: 2s visability;
}

.recognized {
    margin: 10px;
    text-align: center;
    border-right: 1px solid grey;
    grid-area: recognized;
    position: relative;
}

.recognized-images {
    display: flex;
    flex-wrap: wrap;
}

.uploaded {

    padding: 5px;
    grid-area: uploaded;
}

.header-upload {
    display: flex;
    justify-content: space-around;
}

.already-uploaded {
    display: flex;
    flex-wrap: wrap;
}

.img-preview-container {
    margin: 5px;
    position: relative;
    overflow: hidden;

}


.img-preview-container > * {
    width: 180px;
    height: auto;
    margin: 5px;
}


.recognized-preview-container {
    margin: 5px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    overflow: hidden;
    z-index: 0;

}

.recognized-preview-container img {
    width: auto;
    height: 150px;
    transition-property: opacity;
    transition-duration: 1s;
}

.recognized-preview-container:hover > img {
    opacity: 0.5;
    cursor: pointer;
}


.success-recognized {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(71, 239, 50, 0.6);
    z-index: 1;
    pointer-events: none;

}

.rejected-recognized {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(239, 50, 50, 0.6);
    z-index: 1;
    pointer-events: none;
}

.recognized-preview-container h6 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    color: black;
    font-weight: bold;

}


.remove-img {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0;
    right: 0;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: 0.3s;
    border: 1px solid black;
    color: black;
}

.img-info {
    position: absolute;
    bottom: -30px;
    right: 0;
    font-size: 0.6em;
    text-align: center;
    background: white;
    color: black;
    transition: bottom 0.3s

}


.img-preview-container:hover .remove-img {
    opacity: 1;
}

.img-preview-container:hover .img-info {
    bottom: 0px;
}

.upload {

}

.upload .btn {
    justify-content: center;
    align-items: center;
}

#file-input {
    display: none;
}


.preview-image {
    width: 400px;
    height: auto;
    display: none;

}


/*Profile page*/

.profile-container {
    -webkit-box-shadow: inset 0px 0px 20px 1px rgba(156, 232, 229, 1);
    -moz-box-shadow: inset 0px 0px 20px 1px rgba(156, 232, 229, 1);
    box-shadow: inset 0px 0px 20px 1px rgba(156, 232, 229, 1);
    padding: 10px;
    background-color: #e7ffff !important;
    animation: 2s visability;

}

.alergens {
    display: flex;
    position: relative;
    text-align: center;
    justify-content: center;
}

.item-name {
    display: flex;
    justify-content: space-between;

}

.remove {
    cursor: pointer;
    background-color: rgba(255, 255, 255 0.5);
}

select {
    width: 88px;

}

.error-message {
    color: rgba(251, 111, 12, 1);
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.5);
}

.search-access-btn > button {
    margin-top: 5px;
}


/*Card page Styles*/

.modal-container {
    border-radius: 15px;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    margin: 15px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.2);
    justify-content: center;
    border: 1px solid #0dcaf0 !important;
    animation: 1s visability;
    transition: 1s all ease;
}

.hide-modal {
    transform: translateY(8rem) rotateZ(20deg);
    opacity: 0;
}

.modal-add-header .report-add-header {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}


#preview-container-record {
    display: flex;
    flex-wrap: wrap;
}


.report-container {
    border-radius: 15px;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    margin: 15px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.3);
    justify-content: center;
    border: 1px solid #fb6f0cd1 !important;
}

.open-modal {
    display: flex;
    justify-content: flex-end;
    margin-top: 12px;
    margin-right: 25px;
}


.modal-add-head {
    display: flex;
    justify-content: space-between;
    margin: 5px;
    padding: 10px;
}

.summary-info {
    margin-top: 5px;
    margin-right: 10px;
}

.card-sidebar-header {
    margin-top: 10px;
    text-align: center;
}

.date-picker {
    display: flex;

    justify-content: space-around;

}

.switch {
    margin-top: 0.5rem;
}

/*Make inputs in one line*/
.input-container {
    display: flex;
}


/*For add buttons in modal container*/
.modal-buttons-container {
    display: flex;
    margin: 15px !important;
    justify-content: space-around;
}


.search-record-container {
    margin-right: 10px;


}


.result-item {
    margin-top: 10px;
    border-radius: 5px;
    margin-right: 5px;
    border: 1px solid #fb6f0cd1;
    align-items: center;
    color: #000;
    display: flex;
    width: 100%;
    justify-content: space-around;
    cursor: pointer;
    height: 40px;
    transition: border 0.8s;
}

.result-item * {
    pointer-events: none;
}

.result-item:hover {
    border: 1px solid #0dcaf0 !important;
}

.record-date {

}

.record-name {

}

.custom-card-input {
    margin: 10px;
}

.modal-add-constructor {


}

.modal-control-buttons > button {
    margin: 5px;
}

.lines-info {
    color: #fff;
    font-size: 12px;
}

.remove-line {
    height: 25px;
    width: 25px;
    margin-top: 10px;
    cursor: pointer;
}

.error-message-card {
    color: #fb6f0cd1;
    display: flex;
    justify-content: flex-end;
}

/*Covid 19 passport*/
.passport-page-container {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.passport-container {
    height: 250px;
    width: 500px;
    padding: 25px;
    justify-content: flex-start;
    align-items: center;
    position: relative;

}

.passport-photo > img {
    width: 100px;
    height: auto;
    overflow: hidden;
}

.passport-info {
    margin-left: 15px;
}

.passport-label {
    position: absolute;
    top: 0;
    right: 0;
    margin: 15px;
    height: 50px;
    width: auto;


}

.passport-label > img {
    object-fit: fill;
}

.passport-top-level {
    display: flex;
}

.passport-status > img {
    height: 75px;
    width: 75px;
}

.passport-bottom-level {
    display: flex;
    font-size: 12px;
    justify-content: space-between;
    margin-top: 15px;
    align-items: center;
}

.passport-page-buttons {
    padding: 10px;
    text-align: center;
    margin-top: 35px;
    max-width: 300px;
    border: 1px solid #6ccc7c;
}

.passport-page-buttons h6 {
    font-size: 12px;
}