@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/*Global*/
.custom-input{
    border: 1px solid #fb6f0cd1;
    padding: 0.5rem;
    width:100%;
    margin: 0px 10px 10px 0px;
    border-radius: 5px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
}

.custom-input:focus{
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    border: 1px solid rgba(81, 203, 238, 1);

}

.row-main{
    display: flex;
    justify-content: space-between;
}

.column-quater{
width: 25%;
}

.column-half{
width: 50%;
}

.center {
    text-align: center;
    justify-content: center;
    align-items: center;
}

.right{
    float: right;
}
/*Error page*/
.error-template {
    padding: 40px 15px;
    text-align: center;
}

.error-actions {
    margin-top: 15px;
    margin-bottom: 15px;
}

.error-actions .btn {
    margin-right: 10px;
}


/* Topbar Styles */
.top-bar {
    display: flex;
    width: 100%;
    height: 70px !important;
    background-color: #0F1111;
    justify-content: space-around;
    color: #fff;
}

.top-bar a {
    color: #fff;
    transition: 0.4s;

}

.top-bar a:hover {
    color: #fb6f0cd1;
}

.search-bar {
    padding: 0;
    margin: 0;
}

.s-button {
    color: #fb6f0cd1 !important;
    border-color: #fb6f0cd1 !important;
    transition: 0.8s;
}

.s-button:hover {
    color: #0dcaf0 !important;
    border-color: #0dcaf0 !important;
}

.welcome-text {
    justify-content: center;
    text-align: center;
    color: #000;
    text-decoration: none;
    padding-top: 10px;
}

.login {
    margin-left: 10px;
}


/*Navbar*/

.nav-top {
    width: 100%;
    height: 40px !important;
    background-color: #fb6f0cd1;
}

.nav-top a {
    color: #000 !important;
    transition: 0.4s;
}

.nav-top a:hover {
    border: 1px solid #0dcaf0;
    border-radius: 3px;
    padding: 5px;
}

/*Body styles*/


body {
    background-color: gainsboro;
}

.container-ovf {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #0dcaf0;

}


/**/
.container-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "left center right";

}

.col-l {
    height: 50vh;
    grid-area: left;

    background-color: gainsboro;
    overflow: hidden;
    border: 1px solid #0dcaf0;
}

.col-c {
    height: 50vh;

    grid-area: center;
    background-color: aliceblue;
    overflow: hidden;
    border: 1px solid #0dcaf0;

}

.col-r {
    height: 50vh;
    grid-area: right;
    background-color: aliceblue;
    overflow: hidden;
    border: 1px solid #0dcaf0;

}

.c-custom {
    max-width: 1520px !important;
}

/**********************
/***** Services *******
/*********************/
section {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    color: #0dcaf0;
    margin-bottom: 50px;
    text-transform: uppercase;
}

#what-we-do {
    background: #ffffff;
}

#what-we-do .card {
    padding: 1rem !important;
    border: none;
    margin-bottom: 1rem;
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    transition: .5s all ease;
}

#what-we-do .card:hover {
    -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}

#what-we-do .card .card-block {
    padding-left: 50px;
    position: relative;
}

#what-we-do .card .card-block a {
    color: #0dcaf0 !important;
    font-weight: 700;
    text-decoration: none;
}

#what-we-do .card .card-block a i {
    display: none;

}

#what-we-do .card:hover .card-block a i {
    display: inline-block;
    font-weight: 700;

}

#what-we-do .card .card-block:before {
    font-family: FontAwesome;
    position: absolute;
    font-size: 39px;
    color: #fb6f0cd1;
    left: 0;
    -webkit-transition: -webkit-transform .2s ease-in-out;
    transition: transform .2s ease-in-out;
}

#what-we-do .card .block-1:before {
    content: "\f0e7";
}

#what-we-do .card .block-2:before {
    content: "\f0eb";
}

#what-we-do .card .block-3:before {
    content: "\f00c";
}

#what-we-do .card .block-4:before {
    content: "\f209";
}

#what-we-do .card .block-5:before {
    content: "\f0a1";
}

#what-we-do .card .block-6:before {
    content: "\f218";
}

#what-we-do .card:hover .card-block:before {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    transition: .5s all ease;
}

/*Go top*/

.go-top {
    width: 100%;
    height: 30px;
    background-color: #fb6f0cd1;
    display: flex;
    justify-content: center;

}

.top {
    padding: 5px;
    color: #0dcaf0;
    cursor: pointer;
}

/*Footer*/

.footer-med {
    width: 100%;
    background-color: black;
    color: #fff;
    display: flex;
    justify-content: center;

}

.footer-text {
    margin: 5px;
    font-size: 12px;
    justify-content: center;
    align-items: center;
    text-align: center;

}


/*Register Styles*/

.form-mdc {
    padding: 5px;
}


/* Portal CSS Styles */

.container-portal {
    display: grid;
    grid-template-columns: 250px auto;
    grid-template-areas: "menu body";

}

/* Menu Left*/
.menu-portal {
    grid-area: menu;
    background-color: #31353D;
    border-right: 5px solid #b8bfce;

}

.menu-portal > * {
    margin-left: 15px;

}

.title-menu {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.title-menu-text {
    color: #b8bfce;
}


.user-info {
    display: flex;

}

.avatar {
    height: 25%;
    width: 25%;

}

.avatar img {
    width: 60px;
    border-radius: 10px;

}

.about {
    margin-left: 15px;
    color: #b8bfce;
    font-size: 14px;
}

.title-general {
    align-items: flex-start;
}

.title-general-text {
    color: #b8bfce;
    font-size: 16px;
}

.dropdown-item > * {
    color: #fff;
}


.ul-menu {
    margin-left: 15px !important;
    padding: 0px;
}

.ul-menu a {
    text-decoration: none;

}


.menu-link {
    display: flex;
    grid-area: body;
    color: #b8bfce;
    list-style-type: none;
    padding: 0px 0px 15px 0px;
}


.background-ico {
    margin-right: 10px;
    font-size: 12px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 4px;
    background-color: #3a3f48;
    transition: 0.8s;
    border: 1px solid #fb6f0cd1;

}

.background-ico:hover {
    color: #0dcaf0;
    border: 1px solid #0dcaf0;
}

.link-desc {
    margin-top: 3px;
    transition: 0.8s;

}

.link-desc:hover {
    color: #0dcaf0;
    cursor: pointer;

}


.menu-link a {
    text-decoration: none;

}


.sidebar-footer {
    background: #3a3f48;
    box-shadow: 0px -1px 5px #282c33;
    border-top: 1px solid #464a52;

    position: absolute;
    width: 100%;
    bottom: 0;
    display: flex;
}

.id-box {
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0px 2px;
    margin: 0px;
    background-color: #464a52;
    height: 60px;
    align-items: flex-end;
    margin-bottom: 5px;
}

.id-box h6 {
    margin-top: 5px;
    color: #b8bfce;
    justify-content: center;
    text-align: center;
}

.id-number {
    color: #b8bfce;
    text-align: center;
    text-shadow: #0dcaf0;
}


.body-portal {
    display: grid;
    grid-template-columns: 20% 2fr 2fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "scope dash-top1 dash-top2" "scope dash2 dash-top2";

}

.scope-info {
    grid-area: scope;
    -webkit-box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0.5);
}

.header-edit {
    display: flex;
    justify-content: space-between;
}

.header-edit h5 {
    font-size: 18px;
    margin: 10px;
}

.header-edit button {
    margin-right: 5px;
}


.scope-info > * {
    list-style-type: none;

}

.dash-top1 {
    grid-area: dash-top1;
    -webkit-box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0.5);

}

.dash-top2 {
    grid-area: dash-top2;
    -webkit-box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0.5);

}

.weight-chart {
    max-height: 300px;

}

.dash-footer {
    grid-area: dash2;
    -webkit-box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0.5);
}


/*Family page*/
.family-container {
    margin: 10px;

}

.family-header {
    justify-content: center;

}

.family-members {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
}

.family-member-container {
    background-color: #31353D;
    width: 250px;
    height: auto;
    postition: relative;
    border-radius: 5px;
    -webkit-box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.75);
    margin: 5px;
}

.main-info {
    display: flex;
}

.family-member-avatar {

    margin: 10px;
}

.about {
}

.family-member-avatar img {
    width: 50px;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
}

.family-member-info {
    color: #b8bfce;
    margin: 5px;

}

.add-remove-btns {
    display: flex;
    justify-content: space-around;
}

.remove-member {
    margin: 5px;

}

.add-member {
    margin: 10px;

}

.add-member > * {
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #b8bfce;

}

.form-search-member:focus {
    border: 2px solid #0dcaf0;
}

.search-btn {
    margin: 5px;
    align-items: center;
    justify-content: center;
}

.search-btn > * {
    margin-bottom: 5px;

}

/*Medical cards*/
.cards-container {
    background-color: #3a3f48;
    color: #fff;
    -webkit-box-shadow: inset 0px 0px 20px 1px rgba(251, 111, 12, 1);
    -moz-box-shadow: inset 0px 0px 20px 1px rgba(251, 111, 12, 1);
    box-shadow: inset 0px 0px 20px 1px rgba(251, 111, 12, 1);

}

.cards-container h3 {
    margin-top: 10px;
    margin-left: 15px;

}

.documents-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: "recognized uploaded";
}

.recognized {
    margin: 10px;
    text-align: center;
    border-right: 1px solid grey;
    grid-area: recognized;
    position: relative;


}

.recognized-images {
    display: flex;
    flex-wrap: wrap;
}


.uploaded {

    padding: 5px;
    grid-area: uploaded;
}

.header-upload {
    display: flex;
    justify-content: space-around;
}

.already-uploaded {
    display: flex;
    flex-wrap: wrap;
}

.img-preview-container {
    margin: 5px;
    position: relative;
    overflow: hidden;

}


.img-preview-container > * {
    width: 180px;
    height: auto;
    margin: 5px;
}


.recognized-preview-container {
    margin: 5px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    overflow: hidden;
    z-index: 0;

}

.recognized-preview-container img{
    width: auto;
    height: 150px;
    transition-property: height;
    transition-duration: 1s;
}
.recognized-preview-container:hover > img{

width: auto;
    height: 350px;
}


.success-recognized {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(71, 239, 50, 0.6);
    z-index: 1;
    cursor: pointer;
}

.rejected-recognized {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(239, 50, 50, 0.6);
    z-index: 1;
    cursor: pointer;
}

.recognized-preview-container h6 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    color: black;
    font-weight: bold;

}


.remove-img {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0;
    right: 0;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: 0.3s;
    border: 1px solid black;
    color: black;
}

.img-info {
    position: absolute;
    bottom: -30px;
    right: 0;
    font-size: 0.6em;
    text-align: center;
    background: white;
    color: black;
    transition: bottom 0.3s

}


.img-preview-container:hover .remove-img {
    opacity: 1;
}

.img-preview-container:hover .img-info {
    bottom: 0px;
}

.upload {

}

.upload .btn {
    justify-content: center;
    align-items: center;
}

#file-input {
    display: none;
}


.preview-image{
    width: 400px;
    height: auto;
    display: none;

}


/*Profile page*/

.profile-container {
    -webkit-box-shadow: inset 0px 0px 20px 1px rgba(251, 111, 12, 1);
    -moz-box-shadow: inset 0px 0px 20px 1px rgba(251, 111, 12, 1);
    box-shadow: inset 0px 0px 20px 1px rgba(251, 111, 12, 1);
    padding: 10px;
    background-color: #3a3f48 !important;
}

.alergens {
    display: flex;
    position: relative;
    text-align: center;
    justify-content: center;
}

.item-name {
    display: flex;
    justify-content: space-between;

}

.remove {
    cursor: pointer;
    border: 1px solid black;
    background-color: rgba(255, 255, 255 0.5);
    border-radius: 5px;
}

select {
    width: 88px;

}

.error-message {
    color: rgba(251, 111, 12, 1);
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.5);
}

.search-access-btn > button {
    margin-top: 5px;
}


/*Card page Styles*/

.modal-container{
    display:flex;
    flex-wrap: wrap;
    margin: 15px;
    padding: 10px;
    background-color: rgba(0 ,0 ,0 ,0.2);
    justify-content:center;
    border: 1px solid #0dcaf0 !important;
}
.modal-add-header{
    display:flex;
    justify-content: center;
    text-align: center;
    align-items: center;


}

.open-modal{
    float:right;
    margin-top: 12px;
    margin-right: 25px;
}





.modal-add-head{
    display: flex;
    justify-content: space-between;
    margin: 5px;
    padding: 10px;
}

.card-sidebar-header{
    color: #b8bfce;
    margin-top: 10px;
    text-align: center;
}

.date-picker{
    display: flex;

    justify-content: space-around;

}

.switch{
    margin-top: 0.5rem;
}

.input-container{
    display: flex;
}

.add-field-button{
    justify-content:center
}





.search-record-container{
    margin-right: 10px;


}


.result-item{
    margin-top:10px;
    margin-right: 5px;
        border: 1px solid #fb6f0cd1;
    align-items: center;
    color: #b8bfce;
    display:flex;
    width: 100%;
    justify-content: space-around;
    cursor: pointer;
    height: 40px;
}
.record-date{

}

.record-name{

}

.custom-card-input{
    margin: 10px;
}

.modal-add-constructor{


}

.modal-control-buttons > button{
    margin: 5px;
}
.lines-info{
    color: #b8bfce;
    font-size: 12px;
}

.remove-line{
    height: 25px;
    width: 25px;
    margin-top: 10px;
    cursor: pointer;
}

